.container-fluid
  .row
    #status.col-xs-12
      %h1
        Passcode?
  #command-row.hidden
    .row.controls
      .col-xs-4
        %a.text-primary Off
      .col-xs-4
        %a.text-danger Away
      .col-xs-4
        %a.text-danger Stay
    .row
      #garage-door-state.col-xs-12.text-center
        %img.loading.init{src: '/images/garage_door_closed.png?v=2'}
  #keypad
    .row
      .col-xs-4
        %a.btn.btn-default 1
      .col-xs-4
        %a.btn.btn-default 2
      .col-xs-4
        %a.btn.btn-default 3
    .row
      .col-xs-4
        %a.btn.btn-default 4
      .col-xs-4
        %a.btn.btn-default 5
      .col-xs-4
        %a.btn.btn-default 6
    .row
      .col-xs-4
        %a.btn.btn-default 7
      .col-xs-4
        %a.btn.btn-default 8
      .col-xs-4
        %a.btn.btn-default 9
    .row
      .col-xs-4
        %a.btn.btn-default *
      .col-xs-4
        %a.btn.btn-default 0
      .col-xs-4
        %a.btn.btn-default #
  #reset.row
    .col-xs-12.text-center
      %a{href: ''} Reset Passcode
