.container-fluid
  .row
    #status.col-xs-12
      %h1 Connecting
  .row
    .col-xs-4
      %a.btn.btn-primary OFF
    .col-xs-4
      %a.btn.btn-danger AWAY
    .col-xs-4
      %a.btn.btn-danger STAY
  .row
    .col-xs-4
      %a.btn.btn-default 1
    .col-xs-4
      %a.btn.btn-default 2
    .col-xs-4
      %a.btn.btn-default 3
  .row
    .col-xs-4
      %a.btn.btn-default 4
    .col-xs-4
      %a.btn.btn-default 5
    .col-xs-4
      %a.btn.btn-default 6
  .row
    .col-xs-4
      %a.btn.btn-default 7
    .col-xs-4
      %a.btn.btn-default 8
    .col-xs-4
      %a.btn.btn-default 9
  .row
    .col-xs-4
      %a.btn.btn-default *
    .col-xs-4
      %a.btn.btn-default 0
    .col-xs-4
      %a.btn.btn-default #

%audio#click
  %source(src="/click.mp3" type="audio/mpeg")
